.shortInfo{
	display: flex;
		
	.img{
		display: flex;
		flex: 2;
		width: 680px;

		align-items: center;
		justify-content: center;
		
		img{
			max-width: 100%;
			object-fit: contain;
		}
	}
	.desc{
		flex: 1;
		padding: $margin-md 0;
		margin-right: $margin-md;
		.meta{
			font-size: 14px;
		}
		.title{
			font-size: 24px;
			margin-bottom: $margin-md;
		}
		.price{
			font-size: 46px;
			font-weight: normal;
			margin-bottom: $margin-md;
		}
	}
}
.description{
	width: 680px;
	max-width: 100%;
	flex: 1;
	padding: 0 $margin-md $margin-md;

	.title{
		font-size: 28px;
		color: $colorDarkGrey;
		font-weight: normal;
	}
	p{
		font-size: 16px;
		color: $colorLightGrey;
		line-height: 1.5;
	}
}
.button{
	background: $colorBlue;
	padding: 1em 2em;
	display: block;
	width: 100%;
	border-radius: 4px;
	text-align: center;
	font-size: 16px;
	color: $colorWhite;
	border: 0 none;
}